.responsive-headline {
    font-size: 50px !important;
}

.rotating-rolls {
    font-size: 30px;
    font-family: "opensans-regular";
    color: white !important;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
   
@keyframes blinking-cursor {
0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}